<section ng-init="toggle=false" ng-show="toggle" >
	<ul class="nav nav-pills">
		<li ng-class="{ active:tab.isSet(1)}">
			<a href ng-click="tab.setTab(1)">Specs</a>
		</li>
		<li ng-class="{ active:tab.isSet(2)}">
			<a href ng-click="tab.setTab(2)">Reviews</a>
		</li>
		<li ng-class="{ active:tab.isSet(3)}">
			<a href ng-click="tab.setTab(3)">Images</a>
		</li>
	</ul>

	<product-specs ng-show="tab.isSet(1)" ></product-specs>
	<product-reviews ng-show="tab.isSet(2)" ></product-reviews>
	<product-images ng-show="tab.isSet(3)" ></product-images>
</section>